.login-container{
    min-height: 100vh;
    display: grid;
    align-items: center;  
    color: white;  
}
.login-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    min-width: 300px;
    max-width: 400px;
    margin: auto;
    gap:0.4rem;
}
.login{
    color:rgb(49, 143, 201);
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    width: 100%;
}
.login:hover{
    text-decoration: underline;
}
.login-inputs{
    width: 100%;
    font-size: 1.5rem;
    padding:0.5rem;
    background-color:rgba(128, 128, 128, 0.474);
    color: white;
    border-radius: 10px;
}
.login-labels{
    font-size: 1.5rem;
}
.submit-button{
    margin-top: 0.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    background-color:rgb(11, 125, 11);
    cursor: pointer;
    border:none;
    border-radius: 10px;
    width: 100%;
}